---
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import Section from "../components/Section.astro";
import { Debug } from "astro:components";

// const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}');
const releases = (await getCollection("releases"))
---

<Layout mustHeader>
  <Content>
    <Section title="音乐">
      <ol class="grid gap-4 grid-cols-3 max-md:grid-cols-2">
        {
          releases.map(({data}) => {
            return (
              <li class="flex flex-col gap-3">
                {/* <Debug answer={images} /> */}
                <a href={data.link} title={data.title} class="text-nowrap text-ellipsis inline-flex overflow-hidden">
                  <img src={data.heroImage} class="w-full h-auto" decoding="async" loading="lazy" />
                  {/* <Image src={heroImageSrc} alt="" loading="lazy" decoding="async" /> */}
                </a>
                <div class="flex flex-col gap-1 items-start">
                  <a href="javascript" class= "inline-flex justify-center items-center py-1 px-1.5 min-w-10 bg-[#e2e8f0] text-sm leading-[1] rounded-[4px] cursor-pointer">
                    {data.type}
                  </a>
                  <a href={data.link} title={data.title} class="w-full leading-[1.4] text-base text-nowrap text-ellipsis overflow-hidden hover:underline text-[#1a202c]">
                    {data.title}
                  </a>
                  <span class="text-sm text-[#718096] leading-[1.4]">{data.date}</span>
                </div>
              </li>
            )
          })
        }
      </ol>
    </Section>
    <!-- <Section title="动态">
      <ol class="flex flex-col gap-4">
        {
          allPosts.map(post => {
            return (
              <li class="flex gap-4 text-base text-[#1a202c]">
                <span>{post.frontmatter.createdAt}</span>
                <span>{post.frontmatter.title}</span>
              </li>
            )
          })
        }
      </ol>
    </Section> -->
  </Content>
</Layout>
